.register-container {
  margin: 100px auto;
  width: 75%;
  height: auto;
}
.register-container h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.terms-condition {
  margin: 20px 0;
}

.terms-condition input {
  display: inline;
  width: 5%;
}
