.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.category-section ul li {
  list-style: none;
  margin-bottom: 10px;
  padding: 20px;
}
.category-section ul li:hover {
  background-color: #e7e7e7;
}
.category-section ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #403f3f;
}
.category-section ul li a:hover {
  text-decoration: underline;
}
