.header-logo {
  margin: 50px auto 20px;
  height: 60px;
  width: 470px;
}
.header-subtitle p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #706f6f;
}
.header-time {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.header-time p {
  font-size: 20px;
  font-weight: 500;
  color: #706f6f;
}

.header-marquee {
  background-color: #f3f3f3;
  width: 95%;
  height: 80px;
  margin: 30px auto 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

.header-marquee button {
  background-color: #d72050;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
  border: 0;
}

.header-marquee-text {
  color: #403f3f;
  font-size: 18px;
  font-weight: 600;
}

nav {
  width: 1140px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 25px;
}

.active {
  text-decoration: underline;
  font-weight: 600;
  font-size: 25px;
  color: #d72050;
}
.not-active {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  color: #403f3f;
}

.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-info p {
  margin-right: 20px;
}
